.raw.btn_course {
    text-align: center;
    justify-items: center;
    margin: 0px 80px;
    opacity: 0;
    animation: fadeInAnimationTop 1s ease-in forwards;
}

.btn.btn-course {
    background-color: rgba(168, 202, 229, 0.32);
    box-shadow: 5px 10px 10px 5px #28262641;
    padding:10px 0px;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 25px;
}
.btn.btn-course:hover {
    background-color: rgba(202, 207, 216, 0.513);
}


@keyframes fadeInAnimationTop {
    from {
      opacity: 0;
      transform: translateY(40px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
