.explore {
    margin-top: 50px;
    background-image: url("../img/explore_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    opacity: 0;
    animation: fadeInAnimationEX 1s ease-in forwards;
}
.exp {
    margin-top: 110vh;
    padding: 30px;
}                              
.exp h2 {
    margin-top: 300px;
    color: white;
    font-weight: 700;
    font-size: 50px;
}
.exp p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}

/*  explore label_ interface  */
.row.exp_lab {
    margin-top: 200px;
    padding: 20px;
}

.exp_label {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.exploreSelect {
    border-radius: 20px;
    height: 64px;
    padding-left: 20px;
}


@keyframes fadeInAnimationEX {
    from {
      opacity: 0;
      transform: translateY(40px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }