* {
    font-family: 'Poppins', sans-serif;
}

.nav {
    color: black !important;
    letter-spacing: .8px;
}
.nav .nav-menu:hover {
    color: rgb(42, 42, 236) !important;  
}
.call-logo {
    margin-left: 15px;
    width: 25px;
    margin-top: 8px;
}

.nav-right .btn-login{
    color: black;
    background-color: white;
    border: none;
    letter-spacing: .8px;

}
.nav-right .btn-sign {
    background-color: white;
    color: black;
    letter-spacing: .8px;

}