
.service-head {
    margin-top: 10vh;
    text-align: center;
    font-weight: 800;
    font-size: 60px;
    opacity: 0;
    animation: fadeInAnimationSR 1s ease-in forwards;
}
.service_icon {
  margin-top: 20px;
    text-align: center;
    opacity: 0;
    animation: fadeInAnimationSR 1s ease-in forwards;

}
.service_para {
    text-align: center;
    margin: 40px 0px;
    justify-items: center;
    font-size: 25px;
    text-align: justify;
    padding: 0em 4em;
    opacity: 0;
    animation: fadeInAnimationSR 1s ease-in forwards;

}


@keyframes fadeInAnimationSR {
    from {
      opacity: 0;
      transform: translateY(40px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }