
.top_universities {
    background-color: rgba(133, 174, 222, 0.225);
    margin-top: 15vh;
    padding-top: 20rem;
    height: 115vh;
}


.top_universities h1 {
    padding-left: 50px;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #22312E;
    margin-top: 170px;
}

.topUniversityNav {
    height: 50px;
    background: #F3F3F3;
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 3px;
    text-align: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    
    &::-webkit-scrollbar {
        display: none;
    }
}

.topUniversityNav.nav-pills .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #22312E;
    height: 40px;
    border-radius: 12px;
    white-space: nowrap;
}

.topUniversityNav.nav-pills .nav-link:hover {
    background: #FFFFFF;
    color: #000000;
    box-shadow: 6px 18px 32px rgba(0, 0, 0, 0.04);
}
