  
.university-cards-container {
    display: flex;
    overflow-x: auto;
    margin: 0px 30px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .card {
    flex: 1 0 250px;
    background: #f5f5f5;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    &:hover {
      box-shadow: 0 4px 1rem -5px #000;
      transform: translateY(-3px);

    }
  }
  
  /* .card-content {
    padding: .5rem;
  } */
  
  @media screen and (max-width: 625px) {
    .container-card {
      width: 100%
    }
    
    .university-cards-container {
      padding: .5rem;
    }
    
    .card {
      margin: .5rem;
    }
  }