.row.w_Banner {
    width: 80%;
    margin-top: 50vh;
    justify-items: center;
    text-align: center;
    max-height: fit-content;
    
}
.w-b {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    opacity: 0;
    animation: fadeInAnimationTop 1s ease-in forwards;
}


@keyframes fadeInAnimationTop {
    from {
      opacity: 0;
      transform: translateY(40px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


